/*untuk layar device berukuran kecil*/
@media only screen and (max-width: 600px) {
   .carousel {
	  margin-bottom: 0rem;
	}
   .carousel-item {
	  height: auto;
	}
	.mb-5 {
	  margin-bottom: 0.5rem !important;
	  margin-top: 0.1rem !important;
	}
	
	.container-fluid {
	padding-right: 0.75rem;
	padding-left: 0rem;
	margin-right: auto;
	margin-left: auto;
    width: 100%;
	 }
	 
	.g-5, .gx-5 {
	--bs-gutter-x: 0rem;
	}
	.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
	  width: 100%;
	  padding-right: 0rem;
	}
	 .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	  --bs-gutter-x: 3rem;
	  --bs-gutter-y: 0;
	  width: 100%;
	  padding-right: calc(var(--bs-gutter-x) * .5);
	  padding-left: calc(var(--bs-gutter-x) * .5);
	  margin-right: auto;
	  margin-left: auto;
	}
	.row > * {
	  flex-shrink: 0;
	  max-width: 100%;
	  padding-right: 0px;
	  padding-top: 12px;
	}
	
	.pl {
	 padding-right: 0rem !important;
	 padding-left: 0rem !important;
	}
	.pd_top1 {
	 padding-top: 12px;
	}	
	.mbt-2 {
	  margin-bottom: 0.1rem !important;
	}
	.features .feture-tabs h3 {
	  color: #012970;
	  font-weight: 700;
	  font-size: 25px;
	  margin-bottom: 0px;
	}
	.py-51 {
	  padding-top: 0rem !important;
	  padding-bottom: 0rem !important;
	}
	.px-l6 {
	  padding-right: 0rem !important;
	  padding-left: 1rem !important;
	}
	.img-fluid {
	  max-width: 100%;
	  height: auto;
	}
	  .ft {
		max-width: 100%;
		height: auto;
	  }
	.pe-5 {
	  padding-right: 0rem !important;
	}
	.px-4 {
	  padding-right: 1rem !important;
	  padding-left: 1rem !important;
	}
	.pe_1 {
	  padding-right: 0rem !important;
	}
	.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}
  .text-alamat {
    font-size: 0.8rem !important;
  }
   .text-medsos h5 {
    font-size: 1rem !important;
  }
  
  .mb-2 {
  margin-bottom: .1rem !important;
} 
.v_kontak {
  --bs-gutter-x: 0.1rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.row .col {
  /*float: left;
  padding: 0 .75rem;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
}
h5, .h5 {
  font-size: 1rem;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}
.property-listing {
  position: relative;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: #ffffff;
  margin-top: 30px;
  border: none;
  box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
  -webkit-box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);
}
.property-listing.property-2 .listing-img-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 240px;
  max-height: 240px;
}
.list-img-slide {
  overflow: hidden;
  position: relative;
  min-height: 240px;
  max-height: 240px;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list, .slick-slider, .slick-track {
  position: relative;
  display: block;
}
.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.video {
width:390px;
height:240px;
}
.flex_in {
  display: inherit;
}
}
 @media only screen and (max-width: 899px) {
	.flex_in {
	  display: inherit;
	}
   .w-10 {
	  width: 100% !important;
	}
  .w-100 {
    height: 27vh;
  }
  .post-info {
    font-size: 0.8rem !important;
  }
  .mb-21 {
	  margin-bottom: 1rem !important;
   }
   .p-4 {
	  padding-right: 0rem !important;
	  padding-left: 1rem !important;
	}
   .display-5 {
		font-size: 1rem;
   }
   .dis {
		font-size: 1rem;
   }
   .section-title, .section-title-widget {
    font-size: 1rem !important;
  }
   .berita p {
    font-size: 1rem;
  }
  .berita {
	  height: 100px;
	  max-height: 100px;
	}
.py-5 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.3rem !important;
}
.isi-berita {
  font-family: sans-serif;
  text-align: justify;
  font-size: 14px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0px;
}
.hide {
	display: none;
}
.px-12 {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
 .post-inf {
    font-size: 0.8rem !important;
    margin-top: 5px !important;
  }
  .pw {
	  padding-right: 0.7rem !important;
	}
	h3.section-title::before {
	  top: 5px;
	}
	h3.section-title::after {
	  bottom: 4px;
	}
	  .berita-text .btn {
    font-size: 0.8rem;
    padding: 6px !important;
    margin-top: 0px !important;
	  }
    .btn-ma {
	background: #0a6c71;
	color: #ffffff;
	}
	.btn {
	  font-family: "Nunito", sans-serif;
	  font-weight: 600;
	  transition: 0.5s;
	}
	.card{
		border: 0px;
	}
	.pricing .buy-btn {
	  display: inline-block;
	  padding: 12px 35px;
	  border-radius: 5px;
	  color: #fff;
	  transition: none;
	  font-size: 16px;
	  font-weight: none;
	  font-family: "Jost", sans-serif;
	  transition: 0.3s;
	  border: 0px;
	  }
	  .img-thumbnail {
	  padding: .25rem;
	  background-color: #fff;
	  border: 1px solid #dee2e6;
	  border-radius: 0px;
	  max-width: 100%;
	  height: auto;
	}
	.card-body {
	  flex: 1 1 auto;
	  padding: 0rem 0rem;
	  color: var(--bs-card-color);
	}
	.pb- {
		padding-bottom: 3rem !important;
	}
	.ms-3 {
	  margin-left: 0rem !important;
	}
}
/*untuk layar device berukuran sedang*/
@media only screen and (max-width: 900px) {
	.carousel {
	  margin-bottom: 0rem;
	}
   .carousel-item {
	  height: auto;
	}
	.row {
	  width: 100%;
	  max-width: 100%;
	  padding-right: 0px;
	  padding-left: 0px;
	}
}
 
 